@font-face {
    src: url('Outfit-VariableFont_wght.ttf');
    font-family: outfit;
}


body{
    background-color:hsl(212, 45%, 89%);
    font-family:outfit;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}

.container{
    max-width:20rem;
    background-color:hsl(0, 0%, 100%);
    padding:0.8rem;
    border-radius:1rem;
}
.content h2{
    font-size:1.52rem;
    color: hsl(218, 44%, 22%);
}
img{
    display: block;
    max-width:100%;
    border-radius:1rem;
}
p{
    font-size:1.1rem;
    color:hsl(220, 10%, 50%);
}